@{
    ViewBag.Title = "Contact";
}

<section class=" all-courses">
    <div class="container">
        <div class="section-title mb-0">
            <br><br><br><br><br><br><h2 style="text-align:center; font-size:40px">Contact Us!</h2>
            <br><p style="text-align:center; font-size:20px;">
                Feel free to ask any questions and hit us up with your queries,
                we are always happy to help!
            </p><br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="~/images/mail.jpg" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Nu.edu.pk</span>
                                        <span class="p-company">Email</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="~/images/phone.jpg" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">0300-5556616</span>
                                        <span class="p-company">Phone</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="~/images/location.jpg" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">A.K brohi Road, H11/3, Islamabad</span>
                                        <span class="p-company">Address</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="~/images/fb.jpg" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">PNTS/fb.com</span>
                                        <span class="p-company">Facebook</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>