
@{
    ViewBag.Title = "MachineLearning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MachineLearning</h2>

<div class="column">
    <br><br><br><br>
    <div class="container page-wrapper">
        <div class="page-inner">
            <div class="row">
                <br><br><br><br><div class="el-wrapper">
                    <div class="box-up">
                        <img class="img" src="~/images/MachineLearning.jpg" alt="">
                        <div class="img-info">
                            <div class="info-inner">
                                <span class="p-name">Machine Learning</span>
                                <span class="p-company">Full Course</span>
                            </div>
                            <div class="a-size">Delivery Method : <span class="size">Online</span></div>
                        </div>
                    </div>

                    <div class="box-down">
                        <div class="h-bg">
                            <div class="h-bg-inner"></div>
                        </div>

                        <a class="cart" href="@Url.Action("Create", "Registers")#features">
                            <span class="price">Buy Course</span>
                            <span class="add-to-cart">
                                <span class="txt">PKR 15,000</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="section-title">
        <br><br><br><br><br><br><br><br><br><br>
        <h2 style="text-align:center; font-size:40px"><u>Machine Learning Certification Training</u></h2><br>
        <p style="text-align:center; font-size:20px;">Delivery Method: Online</p>
        <p style="text-align:center; font-size:20px;">Price: PKR 15,000 </p>
        <p style="text-align:center; font-size:20px;">Duration: 2 months</p>
        <br><p style="text-align:center; font-size:20px;">
            Machine learning (ML) is the scientific study of algorithms and statistical models that computer systems use to perform a specific task without using explicit instructions,
            relying on patterns and inference instead
        </p><br>
    </div>
</div>
